/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
mvnw
mvnw.cmd
.mvn
.springBeans
target
.sts4-cache
generatorConfig.xml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.gitattributes
.idea/*
.idea/workspace.xml
.idea/workspace.xml
